# Zero-Trust Key Master Configuration

# Google Secret Manager configuration
GCP_PROJECT_ID=amazing-grace-gcp
GCP_APPLICATION_CREDENTIALS_JSON=

# Google Sheets Logging and Auditing
AUDIT_SPREADSHEET_ID=
AUDIT_SHEET_NAME=SecretsAudit

# White Rabbit Obfuscation Key (Used to cryptographically sign metadata/obfuscate payloads)
WHITE_RABBIT_SECRET_KEY=

# Local environments destination
LOCAL_SECRETS_PATH=.env
